* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(36, 4, 58)
}

.site-wrap {
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
}

/* NAV-BAR */
.nav-wrap {
  margin: auto;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.nav-bar {
  margin: auto;
  width: auto;
}

.button-wrap {
  margin: 3px;
  background-color: rgb(182, 176, 148);
  display: flex;
  text-align: center;
}

.button-face {
  display: flex;
  margin: auto;
  background: inherit;
  width: 80px;
  height: 70px;
  justify-content: center;
}

.button-link {
  color: rgb(37, 10, 41);
  font-size: 15px;
  text-decoration: none;
}
/* HEADER */
.header-wrap {
  margin: auto;
  width: auto;
  display: flex;
  justify-content: center;
}


.title-header {
  width: 80vw;
  text-align: center;
  color: rgb(131, 131, 131);
  font-size: 45px;
}

.header-quote {
  font-size: 24px;
}

/* MAIN */
.main-wrap {
  display: grid;
  color: rgb(131, 131, 131);
}

.form-wrap {
  width: auto;
}

.form-class {

}

.main-par {
  width: auto;
  float: right;
}

/* FOOTER */
.footer-class {
  color:whitesmoke;
}